.why-container {
  padding: 60px 40px;
  text-align: center;
  color: #fff;
   background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.85)),
    url("https://images.unsplash.com/photo-1600585153851-1cde40a29993?auto=format&fit=crop&w=1350&q=80")
      center/cover no-repeat;
  background-attachment: fixed;
}

.why-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* Grid */
.why-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Card */
.why-card {
  background: rgba(255, 255, 255, 0.12);
  padding: 28px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-height: 360px;

  display: flex;
  flex-direction: column; /* IMPORTANT */
  justify-content: space-between; /* pushes READ MORE to bottom */
}

.why-icon {
  font-size: 42px;
  margin-bottom: 16px;
}

.why-card h3 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 700;
}

.why-card p {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.9;
}

/* READ MORE button */
.why-read-more {
  display: inline-flex;
  align-items: center;
  margin-top: 18px;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.3s;
}


.why-read-more:hover {
  color: #00b3ff;
}



/* RESPONSIVE */

/* Tablet */
@media (max-width: 992px) {
  .why-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .why-cards {
    grid-template-columns: 1fr;
  }

  .why-title {
    font-size: 30px;
  }

  .why-card {
    min-height: auto;
  }
}
